# Global code owners - RUM Mobile Team

* @flashcat/rum-mobile @flashcat/rum-mobile-android

## Docs

/docs/ @flashcat/documentation @flashcat/rum-mobile 
*README.md @flashcat/documentation @flashcat/rum-mobile 
